@import url('https ://fonts.googleapis.com/css2 ?family=Roboto :ital,wght@0,100 ; 1,400; 1,500; 1,700; 1 900&display=swap') ;
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', sans-serif;
}
.slider{
    width: 100%;
    height:50%;
    background-color: #000;
    position: relative;
}
.slider_background{
    width: 100%;
    height: 50%;
    object-fit: cover;
    filter: brightness(20%);
}
.slider_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    color: #f1ca07;
    font-size: 3rem;
    align-items: center;
}
h2{
    font-size: 2rem;
    margin-bottom: 100px;
    text-align: center;
}
p{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.slider_content{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
section{
    padding: 100px 0;
}
.boxed{
    max-width: 1280px;
    margin-inline: auto;
}
.flex{
    display: flex;
}
.dark{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/slider.jpg);
    color: #fff;
    background-size: cover;
    background-position:50% ;
}
.W40{
    width: 40%;
}
.W60{
    width: 60%;
}
.text-center{
    text-align: center;
}
.w25{
    width: 15%;
}
.w32{
    width: 32%;
}
.space-between{
    justify-content: space-between;
}
.gap20{
    gap: 20px;
}
.wrap{
    flex-wrap: wrap;
}
.skill{
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.skill img{
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
  top: 50%;
}
.skill h3{
    margin-top: 10px;
    color: #000;
   
}
.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}
.realisation h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: max-content;
    opacity: 0;
    transition: .4s ease;
}
.realisation a{
    display:block;
    height:100%;
    width: 100%;
    text-decoration:none;
    color: #ddcc0a;
}
.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
    transition: 4ms ease;
}
.realisation:hover img{
    filter: brightness(60%);
}
.realisation:hover h3{
    opacity: 1;
}
.icon{
    display: block;
    font-size: 40px !important;
}
.label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}
.value{
    display: block;
    font-size: 1.5rem;
}
.contact{
    border: 2px dashed #fff;
    border-radius: 15px;
    padding: 15px;
}
.aligncenter{
    align-items: center;
}
header{
    position:fixed;
    top: 0%;
    padding:0;
    width: 100%;
    background:rgb(76, 2, 76);
    z-index:999;
    padding: 10px;
    box-shadow: 1px 1px 25px rgba(241, 249, 4, 0.07);
}
.header-logo{
    display: block;
}
.header-logo img{
    width: 60px;
}
.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.active{
    display:flex;
}
.header-menu li a{
    text-decoration: none;
    color: #e6f301;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}
.header-menu li a:hover {
    background: #e1d60a;
    color: #071ff8;
}
.header-menu li:last-child a{
    background-color: #e1d60a;
    color:rgb(39, 3, 241);
}
@media(max-width:810px){
    header{
        height: 60px !important;
    }
    .header-menu-mobile{
        display: block;
        border: 0px;
        background: #fff;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }
    .activite{
        display: flex;
    }

    }
    Table{
        background:yellow;
    }

header .boxed .header-logo{
    left: 100%;
}
.slider_content{
    align-items: center;
    right: 200px;
}

.sec1 .container {
    width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec1 h1{
    color: #31489f;
    font-size: 8em;
    margin-bottom: 70px;
}
.sec1 button{
    position: relative;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    border: 3px solid #31489f;
    background-color: white;
    font-size: 1.5rem;
    color: #31489f;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
}
.sec1 button:hover{
    color: white;
    width:250px ;
}
.sec1 button::before{
    content: "";
    position: absolute;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    background-color: #31489f;
    top: -2px;
    left: -2px;
    transform: translate(-100%); 
    transition: 0.3s; 
    z-index: -1;
}
.sec1 button:hover{
    transform: translate(0);  
}
.sec1 button i {
    display: none;
}
.sec1 button i:hover {
    display: inline;
    margin-left: 10px;
}
.rectangle{
    border-radius: 200%;
    height: 600px;
    width: 40%;
    background-color: transparent;
    border-top: 4px solid #dfeb07;
    border-bottom:15px solid rgb(24, 11, 254);
    border-right:15px solid rgb(24, 11, 254);


}
.rectangle img{
    width: 90%;
    margin-top: 13%;
    height: 90%;
    margin-left: 6%;
}
a{
    color: #ddcc0a;
}
button{
    color: #071ff8;
    font-size: 20px;
    border: solid 25px;
    border-radius: 50%;
    border-color: #bff109;
    background-color:#bff109;
    align-items: center;
}
button:hover{
    color: #ddcc0a;
    background: #000;
    border-color: transparent;
    
}
.boxed text-center .w25 .skill{
    align-items: center;
    top: 100%;
}

